.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #235bca;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #697a77;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}

.nav-link{
  font-weight: bold;
  font-size: 20px;
  font: 20px Arial, sans-serif;
}