/** @format */

.custom-image-slider {
	height: 300px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.slick-dots li.slick-active button:before {
	color: rgb(0, 0, 0) !important;
}
.slick-dots li button:before {
	font-size: 18px !important;
}
.h-80 {
	height: 50px;
	color:rgb(0, 0, 0) !important;
}
h5{
	color:rgb(0, 0, 0) !important;
}
.MuiAvatar-root {
	width: 50px !important;
	height: 50px !important;
}
